include requirements.txt
include requirements-lintrunner.txt
cerberus
jinja2
onnx
onnxmltools
pandas
parameterized>=0.8.1
pydocstyle[toml]
pytest
pytest-cov
scikit-learn
scipy
wheel
setuptools>=61.0.0
